body{
	margin:0;
	background: linear-gradient(to top, #7BCC70 80%, white 100%);
	/*font-family: sans-serif;*/
}

* {
	box-sizing: border-box;
	/* makes it so elements stay within window */
}

.header {
	/*border: 1px solid red;*/
	height: 100px;
	padding: 10px;
}

.header .header-middle {
	text-align: center;
	line-height: 0.4;
	background-color: #7BCC70;
	border: 1px solid black;
	width: 500px;
	height: 100px;
	margin: auto;
	position: relative;
	z-index: 5;
}

.header .header-login {
	/*border: 1px solid black;*/
	width: 50px;
	position: absolute;
	top: 28px;
	right: 70px;
}

.header .header-login #loginbutton {
	height: 80px;
	width: 80px;
	display: block;
}

.search {
	text-align: center;
	padding-top: 20px;
}

#searchbar-1 {
	width: 500px;
	font-size: 25px;
}

.gallery-slider {
	/*border: 1px solid black;*/
	margin-top: 20px;
	height: 500px;
	width: 100%;
	float: left;
	overflow: hidden;
}

.gallery-slider .gallery-container {
	width: 100%;
	float: left;
	transition: margin 1s ease; /* for smooth animation */
	
}

.gallery-slider .item {
	height: 400px;
	border: 2px solid black;
	background-color: grey;
	line-height: 250px;
	text-align: center;
	font-size: 20px;
	line-height: 1.5;
	color: white;
	float: left;
	box-sizing: border-box;
}

.gallery-slidder .item .foodinfo {
	width: 100%;
}

.gallery-slider .gallery-controls {
	width: 100%;
	float: left;
	padding: 15px;
}

.gallery-slider .gallery-controls ul {
	display: block;
	text-align: center;
	padding:0;
	margin:0;
	list-style: none;
}
.gallery-slider .gallery-controls ul li {
	height: 35px;
	width: 35px;
	border:1px solid black;
	margin:4px;
	display: inline-block;
	line-height: 33px;
	cursor: pointer;
}

