body 
{
	margin:0;
	background: linear-gradient(to top, DarkGray 80%, white 100%);
	
}

.header {
	height: 100px;
	padding: 10px;
	
}

.header .header-logo {
	position: relative;
	top: 0px;
	margin-left: auto;
	margin-right:auto;
	text-align: center;
	line-height: 0.4;
	background-color: DarkGray;
	border: 1px solid black;
	width: 400px;
	height: 80px;
}

.header .header-username {
	/* ex "Welcome manager thomas32" */
	margin: auto;
	text-align: center;
	border: 1px solid black;
	background-color: DarkOrange;
	width: 400px;
	height: 80px;
	
}

.header .header-logout {
	width: 50px;
	position: absolute;
	top: 28px;
	right: 70px;
	
}

.header .header-logout #logoutbutton {
	height: 80px;
	width: 80px;
	display: block;
}

.header .edit-buttons {
	position: fixed;
	float: right;
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;

}

.tableDisplay {	
	margin-top: 25px;
	margin-right: 10px;
	content: "";
	border: 2px solid black;
	float: right;
	width: 45%;
	padding: 5px;
	display: table;
}

.table-entry{
	border: 20px solid black;
	text-align: center;
	margin:auto;
}

