body {
	text-align: center;
	padding: 100px 0;
	background: #7BCC70;
}

input[type=submit]{
	color: white;
	background: black;
}

table.center {
  margin-left: auto; 
  margin-right: auto;
  width:50%;
}

.center th {
	background-color: #4CAF50;
}

form {
	margin-top: 10px
}

